!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#error.error404

		%header#header

			%div{"data-container" => "width_1200"}

				%h1.visuallyhidden Raised by a Canadian Chicken Farmers
				.wrap_svg
					%svg.logo_raised{:viewBox => "0 0 58 64"}
						%use{"xlink:href" => "#logo_raised"}

				%a.button_circle{:href => "http://www.chicken.ca", :title => "Visit chicken.ca"}
					%span Visit chicken.ca

		%main{:role => "main"}

			%section#intro.intro

				#intro_background.intro_background
					%img#preload_background.visuallyhidden{:src => "assets/img/cfc_background.png", :alt => ""}

				%article{"data-container" => "width_1200"}

					.wrap_content

						%h2 Error 404. Page Not Found.

						%p Something has gone wrong... it would appear that the page you are looking for does not exist. Since you are here, why not download our shopping app? Click the links below to download our app for iOS and Android devices.

						= Haml::Engine.new(File.read("dev/haml/partials/_html_links-download.haml")).render

					.wrap_phones-outer
						.wrap_phones-inner
							%img.img_intro-placeholder.placeholder{:src => "assets/img/cfc_intro-placeholder.png", :alt => ""}
							%img#img_intro-android.img_intro-android.back{:src => "assets/img/cfc_intro-android.png", :alt => "Download the app on Android"}
							%img#img_intro-ios.img_intro-ios.front{:src => "assets/img/cfc_intro-ios.png", :alt => "Download the app on iOS"}

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render