// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html {
	font-family: 'Noticia Text', Georgia, Times, 'Times New Roman', serif;
	color: $hsl_L0;
}
body {
	position: relative;
	background-color: $hsl_L100;
}
::selection {
	color: $hsl_L100;
	background-color: $hsl_blue;
}

// Transitions
// ----------------------------------------------------------------------------
a {
	transition: all 0.3s ease-in-out;
}
svg {
	transition: fill 0.3s ease-in-out;
}
// --- Animations --- \\
@keyframes animShow {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes animHide {
	0%   { opacity: 1; left: 0; }
	99%  { opacity: 0; left: 0; }
	100% { opacity: 0; left: -200%; }
}
// --- FOUT --- \\
/*
html:not(.ie9) main,
html:not(.ie9) header,
html:not(.ie9) footer {
	opacity: 0; // begin by setting opacity to 0 (if not IE9)
	animation: animShow 0.6s ease-in-out 0.2s forwards;
}
*/

// General Styles
// ----------------------------------------------------------------------------
.wrap_element {
	position: relative;
}
// + SVGs + \\
#svgInject {
	display: none;
	visibility: hidden;
}
a.wrap_svg {
	display: block;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
svg.svg_inline {
	display: inline; // chrome does not respect the [viewBox] selector
}
// --- Containers --- \\
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
div[data-container="width_1200"] {
	max-width: 120rem;
}
article[data-container="width_1200"] {
	max-width: 56.8rem; // becomes 120rem at 768px
}
[data-container="width_768"] {
	max-width: 76.8rem;
}
[data-container="width_520"] {
	max-width: 36rem; // becomes 52rem at 768px
}

// Buttons
// ----------------------------------------------------------------------------
a.button {
	display: table; // inline-block does not allow margin centering
	margin: 0 auto;
	padding: 1.6rem;
}
a.button span {
	display: inline-block;
	font-family: 'Sanchez';
	font-size: 1.8rem;
	text-align: center;
	line-height: 1.2;
	vertical-align: middle;
}
// --- Two Column Links --- \\
div.links_download a.button {
	float: left;
	width: calc(50% - 0.8rem);
}
div.links_download a.download_ios {
	margin-right: 1.6rem;
}
div.links_download a.button span {
	font-size: 1.3rem;
}


// ==|== sections =============================================================
// ============================================================================

// Header
// ----------------------------------------------------------------------------
header {
	position: relative;
	padding-top: 2.6rem;
	padding-bottom: 2.6rem;
}
header div[data-container] {
	position: relative;
}
header div[data-container] div.wrap_svg {
	margin-left: auto;
	margin-right: auto;
	width: 6rem; // 11rem;
}
header a.toggle_lang {
	display: block;
	position: absolute;
	top: 5rem;
	right: 1.6rem;
	font-family: 'Sanchez';
	font-size: 1.3rem; // 1.8rem;
	line-height: 1.2;
	color: $hsl_L14;
}
// + interaction + \\
header a.toggle_lang:hover {
	color: $hsl_red;
}
header a.toggle_lang:active {
	color: lighten($hsl_red, 10%);
}
// --- Circle Button --- \\
a.button_circle {
	display: block;
	position: absolute;
	top: 1.8rem;
	left: 1.6rem;
	width: 7.2rem; // 11.4rem;
	color: $hsl_L14;
}
a.button_circle span {
	display: inline-block;
	font-family: 'Sanchez';
	font-size: 1.3rem; // 1.8rem;
	line-height: 1.2;
	text-align: center;
}
// + interaction + \\
a.button_circle:hover {
	color: $hsl_red;
}
a.button_circle:active {
	color: lighten($hsl_red, 10%);
}

// Footer
// ----------------------------------------------------------------------------
footer {
	padding: 5.2rem 1.6rem 6rem 1.6rem;
	text-align: center;
}
footer a.wrap_svg {
	width: 3.2rem;
	margin-bottom: 1.6rem;
	margin-left: auto;
	margin-right: auto;
}
footer h6 {
	max-width: 24rem;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Sanchez';
	font-size: 1.5rem;
	line-height: 1.2;
}
footer h6 a {
	color: $hsl_L0;
}
// + interaction + \\
footer a.wrap_svg:hover {
	opacity: 0.8;
}
footer a.wrap_svg:active {
	opacity: 1;
}
footer h6 a:hover {
	color: $hsl_red;
}
footer h6 a:active {
	color: lighten($hsl_red, 10%);
}

// Sections
// ----------------------------------------------------------------------------
section {
	padding-top: 4rem;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
	text-align: center;
}
section.share,
section.create,
section.available {
	padding-bottom: 4rem;
}
section p {
	line-height: 1.4;
}
section h3 {
	margin-bottom: 2rem;
	font-family: 'Sanchez';
	font-size: 3.2rem; // 4.8rem;
	line-height: 1.2;
}
section:not(.create) h3 {
	color: $hsl_L100;
}
section:not(.intro) p {
	font-size: 1.5rem; // 1.6rem;
	color: $hsl_L100;
}
section div.wrap_img {
	margin-top: 4rem;
	margin-left: auto;
	margin-right: auto;
}

// Intro
// ----------------------------------------------------------------------------
section.intro {
	background-image: url('../img/cfc_background.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
section.intro div.wrap_content h2 {
	margin-bottom: 3.2rem;
	font-family: 'Sanchez';
	font-size: 3.6rem; // 6rem;
	line-height: 1.2;
}
section.intro div.wrap_content p {
	margin-bottom: 3.2rem;
	font-size: 1.5rem; // 1.8rem;
}
// --- Intro Buttons --- \\
section.intro a.button {
	color: $hsl_L0;
	border: 0.2rem solid $hsl_L0;
}
section.intro a.button:hover {
	color: $hsl_L100;
	border-color: $hsl_L100;
}
section.intro a.button:active {
	opacity: 0.8;
}
// --- Intro Image --- \\
section.intro div.wrap_img {
	max-width: 28.8rem;
}
// + shorter height for mobile + \\
section.intro div.wrap_img {
	height: 26.8rem;
	overflow-y: hidden;
}

// Share
// ----------------------------------------------------------------------------
section.share {
	background-color: $hsl_red;
}
section.share div.wrap_img {
	max-width: 20.2rem;
}

// Sync
// ----------------------------------------------------------------------------
section.sync {
	background-color: $hsl_blue;
}
section.sync div.wrap_img {
	max-width: 27.4rem;
}

// Shop
// ----------------------------------------------------------------------------
section.shop {
	background-color: $hsl_cyan;
}
section.shop div.wrap_img {
	max-width: 17.6rem;
}

// Create
// ----------------------------------------------------------------------------
section.create h3,
section.create p {
	color: $hsl_L14;
}
section.create h3 br:nth-child(2) {
	display: none;
}
section.create div.wrap_img {
	margin-bottom: 4rem;
	max-width: 41.6rem;
}
section.create p {
	margin-bottom: 4rem;
}
// --- Create Buttons --- \\
section.create a.button {
	color: $hsl_L14;
	border: 0.2rem solid $hsl_L14;
}
section.create a.button:hover {
	color: $hsl_red;
	border-color: $hsl_red;
}
section.create a.button:active {
	color: lighten($hsl_red, 10%);
	border-color: lighten($hsl_red, 30%);
}

// Available
// ----------------------------------------------------------------------------
section.available {
	background-color: $hsl_purple;
}
section.available h4 {
	margin-bottom: 4rem;
	font-family: 'Sanchez';
	font-size: 2rem; // 2.8rem;
	line-height: 1.2;
	color: $hsl_L100;
}
section.available div.wrap_svg {
	margin-bottom: 4rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 42.2rem;
}
section.available div.wrap_svg svg {
	fill: $hsl_L100;
}
// --- Available Buttons --- \\
section.available a.button {
	color: $hsl_L100;
	border: 0.2rem solid $hsl_L100;
}
section.available a.button:hover {
	color: $hsl_L0;
	border-color: $hsl_L0;
}
section.available a.button:active {
	opacity: 0.8;
}
