// ==|== media queries ========================================================
// ============================================================================

@media only screen and (min-width: 48em) { // 768px / 16px = 48em

// ==|== primary styles =======================================================
// ============================================================================

	// General Styles
	// ----------------------------------------------------------------------------
	// --- Containers --- \\
	article[data-container="width_1200"] {
		max-width: 120rem;
	}
	[data-container="width_520"] {
		max-width: 52rem;
	}

	// Buttons
	// ----------------------------------------------------------------------------
	a.button {
		padding: 2rem 2.2rem;
	}
	a.button span {
		font-size: 2.4rem
	}
	// --- Two Column Links --- \\
	div.links_download a.button span {
		font-size: 1.7rem;
	}

// ==|== sections =============================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	header {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	header div[data-container] div.wrap_svg {
		width: 11rem;
	}
	header a.toggle_lang {
		right: 3.2rem;
		font-size: 1.7rem;
	}
	// --- Circle Button --- \\
	a.button_circle {
		top: 0.4rem;
		left: 3.2rem;
		width: 11.4rem;
		height: 11.4rem;
		line-height: 11rem; // less than height to appear visually centered
		color: $hsl_L100;
		background-color: $hsl_red;
		border-radius: 50%;
		overflow: hidden;
	}
	a.button_circle span {
		font-size: 1.7rem;
		vertical-align: middle;
	}
	// + interaction + \\
	a.button_circle:hover {
		color: $hsl_L100;
		background-color: lighten($hsl_red, 10%);
	}
	a.button_circle:active {
		color: $hsl_L100;
		transform: scale(0.96);
	}

	// Footer
	// ----------------------------------------------------------------------------
	footer {
		padding: 7.2rem 3.2rem 8rem 3.2rem;
	}

	// Sections
	// ----------------------------------------------------------------------------
	section {
		padding-left: 3.2rem;
		padding-right: 3.2rem;
	}
	section[class] article { // required specificity of [class] attribute to target padding-bottom
		position: relative;
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
	section.intro,
	section.share,
	section.sync,
	section.shop {
		text-align: left;
	}
	section.share article,
	section.sync article,
	section.shop article {
		min-height: 31rem;
	}
	section.share article div.wrap_content,
	section.sync article div.wrap_content,
	section.shop article div.wrap_content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	section.share div.wrap_content,
	section.shop div.wrap_content {
		padding-left: 23.4rem;
	}
	section.sync div.wrap_content {
		padding-right: 30.6rem;
	}
	section.share div.wrap_img,
	section.sync div.wrap_img,
	section.shop div.wrap_img {
		position: absolute;
	}
	section.share div.wrap_img {
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	section.sync div.wrap_img {
		bottom: 0;
		right: 0;
	}
	section.shop div.wrap_img {
		bottom: 0;
		left: 0;
	}
	section h3 {
		margin-bottom: 3.2rem;
		font-size: 4.8rem;
	}
	section:not(.intro) p {
		font-size: 1.6rem;
	}
	section:not(.create) div.wrap_img {
		margin: 0;
	}

	// Intro
	// ----------------------------------------------------------------------------
	section.intro div.wrap_content {
		width: calc(100% - 32rem);
	}
	section.intro div.wrap_content h2 {
		font-size: 3.8rem;
		white-space: nowrap;
	}
	section.intro div.wrap_content p {
		margin-bottom: 4rem;
		font-size: 1.8rem;
	}
	// --- Intro Buttons --- \\
	section.intro a.button {
		text-align: center; // gets reset from section style
	}
	// --- Intro Image --- \\
	section.intro div.wrap_img {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	// + shorter height for mobile + \\
	section.intro div.wrap_img {
		height: auto;
		overflow-y: visible;
	}

	// Create
	// ----------------------------------------------------------------------------
	section.create h3 br:nth-child(1) {
		display: none;
	}
	section.create h3 br:nth-child(2) {
		display: block;
	}

}

@media only screen and (min-width: 56.25em) { // 900px / 16px = 56.25em

// ==|== primary styles =======================================================
// ============================================================================

	// Buttons
	// ----------------------------------------------------------------------------
	// --- Two Column Links --- \\
	div.links_download a.button span {
		font-size: 2.4rem;
	}

// ==|== sections =============================================================
// ============================================================================

	// Intro
	// ----------------------------------------------------------------------------
	section.intro div.wrap_content {
		width: 52rem;
	}
	section.intro div.wrap_content h2 {
		font-size: 5.2rem;
		white-space: normal;
	}
	section.intro div.wrap_content p {
		margin-bottom: 6rem;
	}
	// --- Intro Image --- \\
	section.intro div.wrap_img {
		width: calc(100% - 56rem);
		max-width: 65rem;
	}

	// Create
	// ----------------------------------------------------------------------------
	section.create div.wrap_img {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}
	section.create p {
		margin-bottom: 6rem;
	}

	// Available
	// ----------------------------------------------------------------------------
	section.available h4 {
		margin-bottom: 6rem;
		font-size: 2.8rem;
	}
	section.available h4 br {
		display: block;
	}
	section.available div.wrap_svg {
		margin-bottom: 6rem;
	}

}

@media only screen and (min-width: 60em) { // 960px / 16px = 60em

// ==|== primary styles =======================================================
// ============================================================================

	// Buttons
	// ----------------------------------------------------------------------------
	// --- Two Column Links --- \\
	div.links_download a.button {
		width: calc(50% - 1.2rem);
	}
	div.links_download a.download_ios {
		margin-right: 2.4rem;
	}

// ==|== sections =============================================================
// ============================================================================

	// Intro
	// ----------------------------------------------------------------------------
	section.intro div.wrap_content h2 {
		margin-bottom: 4rem;
		font-size: 6rem;
	}

}

@media only screen and (min-width: 75em) { // 1200px / 16px = 75em

// ==|== sections =============================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	header a.toggle_lang {
		right: 7.2rem;
	}

	// Sections
	// ----------------------------------------------------------------------------
	section.share div.wrap_content,
	section.shop div.wrap_content {
		padding-left: 32.4rem;
	}
	section.sync div.wrap_content {
		padding-left: 16rem;
		padding-right: 0;
	}
	section.share div.wrap_img,
	section.shop div.wrap_img {
		left: 6.4rem;
	}
	section.sync div.wrap_img {
		right: 6.4rem;
	}

	// Intro
	// ----------------------------------------------------------------------------
	section.intro article {
		padding-top: 13.6rem;
		padding-bottom: 16.8rem;
	}

	// Sync
	// ----------------------------------------------------------------------------
	section.sync div.wrap_content p br {
		display: block;
	}

}