// SASS Variables
// ----------------------------------------------------------------------------
$hsl_red:    hsl(344,85%,45%); // hsl(349,74%,46%);
$hsl_blue:   hsl(212,52%,56%);
$hsl_cyan:   hsl(191,62%,52%);
$hsl_purple: hsl(274,31%,49%);

$hsl_L100: hsl(0,0%,100%);
$hsl_L90:  hsl(0,0%,90%);
$hsl_L14:  hsl(0,0%,14%);
$hsl_L0:   hsl(0,0%,0%);


// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';