.links_download.clearfix{"data-container" => "width_520"}

	%a.button.download_ios{:href => "#", :title => "Download for iOS"}
		:plain
			<span>Download Now<br> for iOS</span>

	%a.button.download_android{:href => "#", :title => "Download for Android"}
		:plain
			<span>Download Now<br> for Android</span>