.links_download.clearfix{"data-container" => "width_520"}

	%a.button.download_ios{:href => "https://itunes.apple.com/ca/app/shopping-chicken.ca-grocery/id892281693?mt=8", :title => "Download for iOS"}
		:plain
			<span>Download Now<br> for iOS</span>

	%a.button.download_android{:href => "https://play.google.com/store/apps/details?id=ca.chicken.shopping", :title => "Download for Android"}
		:plain
			<span>Download Now<br> for Android</span>