%header#header

	%div{"data-container" => "width_1200"}

		%h1.visuallyhidden Raised by a Canadian Chicken Farmers
		.wrap_svg
			%svg.logo_raised{:viewBox => "0 0 58 64"}
				%use{"xlink:href" => "#logo_raised"}

		%a.button_circle{:href => "http://www.chicken.ca", :title => "Visit chicken.ca"}
			%span Visit chicken.ca

	%a.toggle_lang{:href => "#", :title => "Français"} Français