%section#shop.shop

	%article{"data-container" => "width_1200"}

		.wrap_content
			%h3 Shop
			%p Our database includes over 350 commonly purchased grocery items and categorizes them for you so you can shop with ease according the flow of the grocery store. Not finding something? You can create custom items and categorize them accordingly.

		.wrap_img
			%img#img_shop.img_shop{:src => "assets/img/cfc_shop.png", :alt => "Example of a shopping list"}