%section#create.create

	%article{"data-container" => "width_768"}

		:plain
			<h3>Create Lists with<br> Our<br> Desktop Site</h3>

		.wrap_img
			%img{:src => "assets/img/cfc_create.png", :alt => "Create lists on every device"}

		%p Browsing for recipe ideas on your desktop and want to create a shopping list? No problem. Our desktop version of the app allows you to create lists online that will automatically sync to your app.

		%a.button{:href => "#", :title => "Try it Now"}
			%span Try it Now