%section#sync.sync

	%article{"data-container" => "width_1200"}

		.wrap_content
			%h3 Sync
			:plain
				<p>You’ve made a list, shared it, but you’ve decided you can grab the milk on your way home after all. Now what? With our real-time synching there’s no worries. If you add or cross something off a list, it notifies anyone you’ve shared it with.<br> In real time.</p>

		.wrap_img
			%img#img_sync.img_sync{:src => "assets/img/cfc_sync.png", :alt => "Sync between devices"}