%section#sync

	%article{"data-container" => "width_1200"}

		%h3 Sync

		%p You’ve made a list, shared it, but you’ve decided you can grab the milk on your way home after all. Now what? With our real-time synching there’s no worries. If you add or cross something off a list, it notifies anyone you’ve shared it with. In real time.