%section#intro.intro

	#intro_background.intro_background
		%img#preload_background.visuallyhidden{:src => "assets/img/cfc_background.png", :alt => ""}

	%article{"data-container" => "width_1200"}

		.wrap_content

			%h2 Shopping with chicken.ca

			%p Grocery shopping has never been easier. Our app lets you create as many lists as you like, share them with anyone at any time and includes real-time synching, so you’re always up to date. Update lists on the go and split up your shopping errands, without fear of getting the same things. An essential for anyone who grocery shops.

			= Haml::Engine.new(File.read("dev/haml/partials/_html_links-download.haml")).render

		.wrap_phones-outer
			.wrap_phones-inner
				%img.img_intro-placeholder.placeholder{:src => "assets/img/cfc_intro-placeholder.png", :alt => ""}
				%img#img_intro-android.img_intro-android.back{:src => "assets/img/cfc_intro-android.png", :alt => "Download the app on Android"}
				%img#img_intro-ios.img_intro-ios.front{:src => "assets/img/cfc_intro-ios.png", :alt => "Download the app on iOS"}