%section#sync.sync

	%article{"data-container" => "width_1200"}

		.wrap_content
			%h3 Sync
			:plain
				<p>You’ve made a list, shared it, but you’ve decided you can grab the milk on your way home after all. Now what? With our real-time synching there’s no worries. If you add or cross something off a list, it notifies anyone you’ve shared it with.<br> In real time.</p>

		.wrap_phones-outer
			.wrap_phones-inner
				%img.img_sync-placeholder{:src => "assets/img/cfc_sync-placeholder.png", :alt => ""}
				%img#img_sync-android.img_sync-android{:src => "assets/img/cfc_sync-android.png", :alt => "Download the app on Android"}
				%img#img_sync-ios.img_sync-ios{:src => "assets/img/cfc_sync-ios.png", :alt => "Download the app on iOS"}