%section#share.share

	%article{"data-container" => "width_1200"}

		.wrap_content
			%h3 Share
			%p You’ve created a shopping list for dinner, but now you don’t have time to do the groceries. Share your list easily with as many members of your household as you like, and let them take care of it.

		.wrap_img
			%img#img_share.img_share{:src => "assets/img/cfc_share.png", :alt => "Example of Sharing"}