%section#available.available

	%article{"data-container" => "width_1200"}

		%h4 Available for iPhone 5 and up and Android 4.0.3 and up. Also available for iPad and Android tablets.

		.wrap_svg
			%svg.ui_devices{:viewBox => "0 0 422 154"}
				%use{"xlink:href" => "#ui_devices"}

		= Haml::Engine.new(File.read("dev/haml/partials/_html_links-download.haml")).render