%section#intro

	%article{"data-container" => "width_1200"}

		%h2 Shopping with chicken.ca

		%p Grocery shopping has never been easier. Our app lets you create as many lists as you like, share them with anyone at any time and includes real-time synching, so you’re always up to date. Update lists on the go and split up your shopping errands, without fear of getting the same things. An essential for anyone who grocery shops.

		%a.button.black{:href => "#", :title => "Download for iOS"}
			%span Download Now for iOS

		%a.button.black{:href => "#", :title => "Download for Android"}
			%span Download Now for Android