%section#create

	%article{"data-container" => "width_1200"}

		%h3 Create Lists with Our Desktop Site

		%img{:src => "assets/img/cfc_create.png", :alt => ""}

		%p Browsing for recipe ideas on your desktop and want to create a shopping list? No problem. Our desktop version of the app allows you to create lists online that will automatically sync to your app.

		%a.button.black{:href => "#", :title => "Try it Now"}
			%span Try it Now