%section#available.available

	%article{"data-container" => "width_1200"}

		:plain
			<h4>Available for iPhone 5 and up and Android 4.0.3 and up.<br> Also available for iPad and Android tablets.</h4>

		.wrap_svg
			= Haml::Engine.new(File.read("dev/haml/partials/_svg_ui-devices.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_links-download.haml")).render